html {
  height: 100%;
  width: 100%;
}
p,h1,a{
	font-family: "Lucida Sans";
}
a:link{
  text-decoration: none;
  color: #5b738c;
}
a:visited{
  text-decoration: none;
  color: #5b738c;
  border: 2px solid hidden;
  border-radius: 5px;
}
a:hover{
	text-decoration: none;
	color: white;
	background-color: #5b738c;
}
.big{
	background-color: LightGray;
	border: 20px LightGray solid;
}
.menu{
	display: flex;
	justify-content: space-between;
	margin: 20px;
}