html {
  height: 100%;
  width: 100%;
}
p,h1,a{
	font-family: "Lucida Sans";
}
a.lnk:link{
  text-decoration: none;
  color: #5b738c;
  padding: 10px;
}
a.lnk:visited{
  text-decoration: none;
  color: #5b738c;
  border: 2px solid hidden;
  border-radius: 5px;
  padding: 10px;
}
a.lnk:hover{
	text-decoration: none;
	color: white;
	background-color: #5b738c;
	padding: 10px solid #5b738c;
	transition-duration: 0.4s;
}
a.lnk:active{
	text-decoration: none;
	color: white;
	background-color: #5b738c;
	padding: 10px solid #5b738c;
}
.big{
	background-color: LightGray;
	border: 20px LightGray solid;
}
.menu{
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.content{
	display: flex;
	max-width: 1200px;
	justify-content: center;
	height: 100%;
}
.titlelink{
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.otherlink{
	font-weight: bold;
	font-size: 18px;
	color: DimGray;
}
.blg{
	margin: 10px;
	max-width: 700px;
}
.toc{
	margin: 10px;
	max-width: 480px;
	align-self: flex-start;
	position: sticky;
	top: 0;
}
math:has(a.mathlink:hover){
	background-color: LightGray;
}