html {
  height: 100%;
  width: 100%;
}
p,h1,a{
	font-family: "Lucida Sans";
}
p,span,a{
	font-size: 15px;
}
a.lnk:link{
  text-decoration: none;
  color: Gray;
  padding: 10px;
}
a.lnk:visited{
  text-decoration: none;
  color: Gray;
  border: 2px solid hidden;
  border-radius: 5px;
  padding: 10px;
}
a.lnk:hover{
	text-decoration: none;
	color: white;
	background-color: Gray;
	padding: 10px;
	transition-duration: 0.4s;
}
a.lnk:active{
	text-decoration: none;
	color: white;
	background-color: Gray;
	padding: 10px;
}
a.otherlink:link{
	text-decoration: none;
	padding: 2px;
}
a.otherlink:visited{
	text-decoration: none;
	padding: 2px;
}
a.otherlink:hover{
	text-decoration: none;
	color: white;
	background-color: Gray;
	padding: 2px;
	transition-duration: 0.4s;
}
a.otherlinks:link{
	text-decoration: none;
}
a.otherlinks:visited{
	text-decoration: none;
}
.big{
	background-color: LightGray;
	border: 20px LightGray solid;
}
.menu{
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.content{
	display: flex;
	max-width: 1200px;
	justify-content: center;
	height: 100%;
}
.titlelink{
	font-weight: bold;
	font-size: 20px;
	color: black;
}
.otherlink{
	font-weight: bold;
	font-size: 18px;
	color: Gray;
}
.otherlinks{
	font-weight: bold;
	font-size: 18px;
	color: Gray;
}
.blg{
	margin: 10px;
	max-width: 700px;
}
.blog{
	margin: 10px;
	max-width: 1200px;
}
.blogcontent{
	display: flex;
	max-width: 1500px;
	justify-content: center;
	height: 100%;
}
.toc{
	margin: 10px;
	max-width: 480px;
	align-self: flex-start;
	position: sticky;
	top: 0;
}
.thm{
	display: flex;
	margin: 20px;
	padding: 5px;
	border: 5px #000080 solid;
	border-radius: 5px;
	font-family: "Lucida Sans";
}
.prf{
	display: flex;
	margin: 20px;
	padding: 5px;
	border: 5px #023020 solid;
	border-radius: 5px;
	font-family: "Lucida Sans";
}
.def{
	display: flex;
	margin: 20px;
	padding: 5px;
	border: 5px #8b0000 solid;
	border-radius: 5px;
	font-family: "Lucida Sans";
}
.form{
	width: 100%
}
span.form{
	width: 100%;
}
.eqn{
	width: 100%;
	overflow-x: scroll;
	max-width: 1200px;
}